body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

#upload-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
}

main {
    display: flex;
    justify-content: center;
}

#recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #fff;
    position: relative;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card p{
    overflow-wrap: break-word;
}

.recipe-card .card-buttons {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.recipe-card:hover .card-buttons {
    display: block;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
}
